aiohappyeyeballs
aiohttp
aiosignal
appdirs
asgiref
attrs
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
click-didyoumean
colorama
cssselect
nltk
dnspython
email_validator
fake-useragent
filelock
Flask
Flask-Login
Flask-Mail
frozenlist
gunicorn
h11
idna
importlib_metadata
itsdangerous
Jinja2
lxml
lxml_html_clean
MarkupSafe
multidict
outcome
packaging
parse
phonenumbers
playsound
pycparser
pyee
pyppeteer
pyquery
PySocks
python-dotenv
PyVirtualDisplay
requests
requests-html
selectolax
selenium
setuptools
sniffio
snscrape
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
typing_extensions
urllib3
w3lib
webdriver-manager
websocket-client
websockets
Werkzeug
wheel
wsproto
yarl
zipp
